:root {
  --color-primary: #e2007a;
  --background-color: white;
  --color-text: #000000;
  --margin-body: 0 40px 30px 40px;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

body {
  margin: var(--margin-body);
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
ul {
  list-style: none;
}

/* navbar */
header {
  color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  top: 0;
}

header > a > img {
  width: 200px;
  height: auto;
}

main {
  padding: 40px;
  margin-top: 40px;
}

main p {
  margin-top: 40px;
}

.menu-desktop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.menu-desktop > li > a {
  font-size: 20px;
}

.menu-desktop > li > a :hover {
}
/* Mobile Menu */

.nav-mobile {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  background-color: var(--pr-color);
  z-index: 9999;

  overflow: hidden;
  max-height: 0;

  transition: max-height 0.5s ease-in-out;
}

.menu-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.menu-mobile > li > a {
  font-size: 40px;
}

/* Menu icons */

.hamb {
  display: none;
  cursor: pointer;
  font-size: 20px;
}

.side-menu {
  display: none;
}

.hamb > .fa-xmark {
  display: none;
}

.side-menu:checked ~ .nav-mobile {
  max-height: 100%;
}

.side-menu:checked ~ .hamb > .fa-bars {
  display: none;
}

.side-menu:checked ~ .hamb > .fa-xmark {
  display: block;
}

.video {
  width: 100%;
  padding: 0;
}
.video > video {
  width: calc(100vw - 80px);
  height: auto;
}

section,
#modal {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section > h1 {
  margin: 1rem 0;
  font-family: Just Another Hand;
  color: var(--color-primary);
  font-size: 3rem;
  font-weight: lighter;
}

/* FORMULARIO */

section > form {
  width: 80%;
  max-width: 500px;
}

section > form > label {
  display: none;
}

section > form > input,
section > form > select,
section > form > p {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

section > form > input {
  color: var(--color-primary);
}

section > form > input[type="submit"],
#modal > div > button {
  width: 10rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: white;
  font-weight: bold;
  border-radius: 10px;
  border: var(--color-primary) 2px solid;
  transition: 0.5s;
  cursor: pointer;
}

section > form > input[type="submit"]:hover,
#modal > div > button:hover {
  background-color: var(--color-primary);
  color: white;
}

#modal {
  position: fixed;
  inset: 0;
  background-color: var(--color-primary);
  display: none;
}

#modal > div {
  background-color: white;
  padding: 2rem;
}

#modal > div > h2,
#modal > div > ul > li,
#modal > div > button {
  margin: 0.5rem 0;
}

/* MEDIA QUERIES */
/* Maquetación para pantallas de menos de 500px de ancho */
@media screen and (max-width: 500px) {
  section > h1 {
    font-size: 1.5rem;
  }

  #modal > div > h2 {
    font-size: 1.2rem;
  }

  #modal > div > ul > li {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 720px) {
  .nav-desktop {
    display: none;
  }
  .hamb {
    display: block;
  }
}
